<h2>Vitamin C: Das Multitalent unter den Vitaminen</h2>
<p>
	Ob Erschöpfungszustände, hartnäckige Infektionen oder Wundheilungsstörungen – frisches Obst oder Obstsäfte waren bereits zu 
	Urgroßmutters Zeiten die Antwort auf zahlreiche körperliche Missstände. Bei Halsweh hilft die heiße Zitrone, bei Müdigkeit 
	ein frisches Glas Saft. Warum? Natürlich wegen des Vitamin C – so die prompte Antwort. Und tatsächlich scheint dieses 
	Vitamin ein echtes Multitalent zu sein, das im menschlichen Körper vielfältige Aufgaben übernimmt. 
</p>


<h3>Was ist Vitamin C?</h3> 
<p>
	Fachlich wird Vitamin C als Ascorbinsäure bezeichnet, eine farb- und geruchslose Substanz, die für ihren sauren Geschmack bekannt ist. 
	Die Zuordnung als Vitamin erfolgte allerdings aufgrund eines Fehlers, nämlich als im Rahmen der Begriffsbildung des Vitamins ein 
	physiologischer Zusammenhang zwischen Skorbut, der Vitamin C-Mangelerkrankung, sowie Beriberi, einer Vitamin B1-Unterversorgung, 
	vermutet wurde.
	<br /><br />
	Im Rahmen der Skorbutforschung konnte schließlich nach und nach die Ascorbinsäure isoliert werden, so dass bereits 
	1934 die pharmazeutische Herstellung von Vitamin C gestartet wurde. Heute ist man sich dank zahlreicher Forschungsjahre über die Bedeutung 
	dieses Vitamins im menschlichen Organismus mehr als bewusst. 
</p>


<h3>Vitamin C: Die Aufgaben im menschlichen Körper</h3> 
<p>
	Vitamin C wird in Laienkreisen zumeist mit der Immunabwehr in Verbindung gebracht und ist deshalb gerade im Zusammenhang mit 
	Infektionskrankheiten ein Thema. Dabei kann die Ascorbinsäure noch viel mehr und übernimmt vielfältige funktionale Aufgaben im 
	menschlichen Organismus: 
</p>

<p>
	1. <strong>Stärkung des Bindegewebes Kollagen</strong>,
	eine für die Stabilität von Haut, Bindegewebe, Knochen und Zähne elementare Substanz, 
	ist bei seiner Produktion zwingend auf ein ausreichendes Vitamin C-Angebot angewiesen. Ein Mangel begünstigt nicht nur die unschönen optischen 
	Folgen eines erschlaffenden Gewebes, sondern kann sich auch negativ auf die Wundheilung auswirken. 
</p>

<br /><br />

<p>
	2. <strong>Gefäßstabilisator</strong> 
	 Auch im Zusammenhang mit dem Schutz der Blutgefäße wird die gewebestärkende Wirkung des Vitamin C deutlich. Schließlich
 	wirkt sich die Ascorbinsäure glättend auf die Gefäßinnenwände aus, sodass der Blutfluss positiv beeinflusst wird. Dies hilft wiederum, 
 	schwerwiegende Erkrankungen des Herz-Kreislauf-Systems zu vermeiden. 
</p>

<p>
	3. <strong>Antioxidation</strong> 
	 Durch Stoffwechselabläufe im Organismus werden in den Zellen permanent sogenannte freie Radikale freigesetzt. In geringen 
	Mengen sind diese für den Körper zwar erforderlich, ein Übermaß kann allerdings Gewebeschäden und Beeinträchtigungen des Erbguts zur Folge haben.
	Hier nimmt Vitamin C eine Stellvertreterrolle ein und geht anstelle der menschlichen Zellen Verbindungen mit diesen schädlichen Substanzen ein. 
</p>

<p>
	4. <strong>Hormonregulator</strong> 
	 Gerade bei der Ausschüttung verschiedener Hormone, unter anderem von Sexualhormonen, Schilddrüsenhormonen oder 
	Wachstumshormonen, nimmt Vitamin C eine wichtige Rolle ein. Gleichzeitig sorgt die Ascorbinsäure dafür, dass der Körper aus Dopamin das 
	Hormon Noradrenalin bilden kann. 
</p>

<p>
	5. <strong>Verbesserte Nährstoffaufnahme</strong> 
	 Mit der Nahrung nimmt der Mensch zahlreiche Nährstoffe auf, die eine bedeutende Position in zahlreichen 
	körperlichen Abläufen einnehmen. Hier sorgt Vitamin C für verbesserte Aufnahme- und Speicherprozesse. So ist die Ascorbinsäure beispielsweise
 	in der Lage, in Milz und Darm eingelagertes Eisen wieder in die Blutbahn rückzuführen, so dass es dort wieder zur Verfügung steht. 
 	Ein besserer Sauerstofftransport sowie eine Stärkung der Immunabwehr können das Ergebnis sein. 
</p>

<p>
	6. <strong>Unterstützung von Entgiftungsprozessen</strong> 
	 Vitamin C nimmt positiven Einfluss auf die Leberenzyme, die ihrerseits für den Abbau von Giftstoffen 
	im Körper verantwortlich sind. 
</p>
<br />
<p>
	Diese Liste der wichtigen Aufgaben des Vitamin C ist selbstverständlich nicht abschließend. So ist die Ascorbinsäure beispielsweise auch an
	der Carnitinsynthese im Energiestoffwechsel, an der Fettverbrennung sowie an der Stimmungsregulation beteiligt. Es kann damit sozusagen als 
	Allroundtalent unter den Vitaminen bezeichnet werden. 
</p>
<h3>Der Vitamin C-Bedarf des menschlichen Körpers</h3>
<p>
Wenn Vitamin C ein derart breites Aufgabenspektrum im menschlichen Organismus einnimmt, ist es eine Selbstverständlichkeit, dass ein 
entsprechender Bedarf vorherrscht, den es zu decken gilt. Dieser kann je nach Alter, Geschlecht und individueller Lebenssituation diversen 
Schwankungen unterliegen. So haben Kinder grundsätzlich einen geringeren Vitamin C-Bedarf als Erwachsene, Männer hingegen einen höheren als 
Frauen. Auch Schwangerschaft und Stillzeit, Sport sowie Phasen körperlicher oder psychischer Belastung können den täglichen Vitamin C-Bedarf
erhöhen. 
</p>
<p>
Folgende Tabelle soll einen Anhaltspunkt zur täglich empfohlenen Vitamin C Zufuhr darstellen: 
</p>


<h3>Die wichtigsten Vitamin C-Lieferanten</h3>
<p>
	Grundsätzlich ist ein gesunder Mensch, der sich bewusst ernährt, durchaus in der Lage, seinen täglichen Vitamin C-Bedarf ausschließlich 
	durch die Nahrung zu decken. Denn denkt man beim Thema Vitamin C spontan an Zitrusfrüchte, so steckt diese wichtige Substanz doch auch in 
	zahlreichen anderen Lebensmitteln. Folgende Nahrungsmittel können als wichtigste Vitamin C-Lieferanten angesehen werden: 
</p>

<p>
Die größte Menge an Vitamin C ist laut dieser Tabelle in frischem Obst und Gemüse enthalten. Fleisch hingegen eignet sich nur geringfügig
 als Vitamin C-Lieferant. Der Verzehr Vitamin C-reicher Nahrungsmittel sollte gemäß dem Motto erfolgen: Je frischer, desto besser. 
 Denn Ascorbinsäure ist leider äußerst empfindlich gegenüber Licht, Wärme und Sauerstoff, sodass lange Zubereitungs- oder Lagerzeiten 
 den Vitamin C-Gehalt eines Nahrungsmittels drastisch sinken lassen. Außerdem sollten Sie daran denken, dass der Vitamingehalt 
 einer Obst- oder Gemüsesorte in der Schale beziehungsweise direkt darunter am größten ist. Wenn schon geschält werden muss, 
 dann sollte dies im Sinne der Vitamin C-Zufuhr äußerst sparsam geschehen. 
</p>
<p>
Selbst wenn Sie sich bereits bewusst ernähren, denken Sie daran, dass die bereits erwähnten besonderen Lebensumstände den individuellen 
Bedarf an Vitamin C teils drastisch steigern können, so dass eine Bedarfsdeckung ausschließlich über die Nahrung eventuell nicht mehr 
gewährleistet ist. 
</p>
<h3>Mangel und Überangebot</h3>
<p>
Betrachtet man die vielfältigen Aufgaben, die Vitamin C im menschlichen Körper übernimmt, so ist es eine logische Konsequenz, 
dass eine Unterversorgung mit Ascorbinsäure nicht ohne unangenehme Mangelerscheinungen bleibt. 
</p>
<p>
Eine besonders schwerwiegende Erkrankung, die aus einem Vitamin C-Mangel erwachsen kann, ist Skorbut. Sie war eine typische 
Seefahrerkrankheit vergangener Jahrhunderte, die der einseitigen Ernährung an Bord gezollt war. Auch wenn dank des heute 
glücklicherweise reichhaltigen Angebots an Vitamin C-haltigen Nahrungsmitteln und Ersatzpräparaten diese stark ausgeprägte 
Form des Ascorbinsäuremangels der Vergangenheit angehört, so können die Symptome eines Skorbuts auch heute noch, natürlich in 
abgeschwächter Form, eine Vitamin C-Unterversorgung begleiten. 
</p>
<br/>
<strong>Typische Vitamin C-Mangelerscheinungen sind:</strong><br/><br /> 
<ul>
	<li>erhöhte Blutungsneigung vor allem an Zahnfleisch und Haarfollikeln</li>
	<li>geschwächte Immunabwehr mit vermehrten Infekten und teils hohem Fieber</li>
	<li>Muskelschwäche und Muskelschwund</li>
	<li>multiple Entzündungen, bevorzugt der Gelenke</li>
	<li>Herzschwäche</li>
	<li>Bindegewebsschwäche</li>
	<li>gestörte Wundheilung</li>
	<li>Wachstumsretardierung bei Kindern</li>
	<li>allgemein reduzierte Leistungsfähigkeit mit auffallender Müdigkeit und Konzentrationsschwäche</li>
	<li>eine lange Regenerationszeit nach Infekten</li>
</ul>
<p>
	Im Gegensatz dazu erscheinen die Folgen einer Vitamin C-Überdosierung nahezu unbedeutend. Denn in der Regel wird ein Übermaß an 
	zugeführtem Vitamin C schlichtweg über den Urin wieder ausgeschieden, ohne weitere Schäden zu verursachen. 
	Einzig in Ausnahmefällen wird von Verdauungsbeschwerden mit Durchfällen berichtet. Nierengeschwächte Menschen 
	sollten allerdings Vorsicht walten lassen, denn bei bestehender Niereninsuffizienz kann ein Überschuss an Vitamin C 
	die Entstehung von Nierensteinen begünstigen. 
</p>

<h3>Vitamin C in der Krebstherapie</h3>

<p>
	Ein stark diskutiertes Thema im Zusammenhang mit der Ascorbinsäure ist deren Einsatz in der Krebstherapie. Dabei wird den 
	Krebspatienten eine hochdosierte Menge an Vitamin C verabreicht, die um ein Vielfaches über den empfohlenen Tagesrichtwerten liegt. 
	Je nach Behandlungskonzept kommen zwischen 7,5 und 50 Gramm Vitamin C pro Tag zum Einsatz. Da dies in oraler Form sicher nicht ohne 
	Nebenwirkungen im Magen-Darm-Trakt vonstattengehen würde, erhalten die Patienten die entsprechende Ascorbinsäuregabe als Infusion.
</p>
<p>
	Als primäre Behandlungsziele gelten dabei die Verbesserung der Lebensqualität und die Verlängerung der qualitativ hochwertigen Lebenszeit. 
	Studienergebnisse, die wissenschaftlich fundiert den Erfolg der hochdosierten Vitamin C-Infusionstherapie belegen, blieb man bislang allerdings 
	schuldig, was die Diskussionen zwischen Befürworter und Kritikern immer wieder neu entflammen lässt. 
</p>


