
			
		<h2>Vitamin D – Das Sonnenvitamin</h2>

		<p>
			Vitamin D wird im Volksmund oft als Sonnenvitamin bezeichnet, weil der menschliche Organismus die Sonne benötigt,
			um den Stoff in der Haut selbst zu bilden.
			<br/><br/>
			Und hier stößt man auch schon auf die erste Besonderheit des Vitamins, 
			das eigentlich gar keines ist. Denn laut Definition sind Vitamine lebensnotwendige Substanzen, die der
			menschliche Körper eben nicht selbst produzieren kann. In der Regel müssen diese Nährstoffe mit der Nahrung aufgenommen werden. 
			<br/><br/>
			Die sogenannte Vitamin D Gruppe bildet die berühmte Ausnahme der Regel. Die Calciferole sind im eigentlichen Sinne hormonell aktive Sterinderivate, 
			diese als Vitamin D bezeichneten chemischen Substanzen sind also so etwas wie eine Vorstufe für hormonartige Wirkstoffe. 
			Das Prohormon wird erst in Stoffwechselprozessen zu den drei Hormonen der Calciferolgruppe umgewandelt. 
			<br/><br/>
			Diese Hormone unterstützen den Organismus bei der Aufnahme von Kalzium aus der Nahrung und sorgen dadurch für eine vermehrte Mineralisierung der Knochenmatrix.
			Außerdem ist Vitamin D für die Zellteilung und für bestimmte Reparaturmechanismen in der Zelle von Bedeutung. 
		</p>
			
		<h3>Warum brauchen wir Vitamin D?</h3>
		<p>	
			Das Vitamin D benötigt der Mensch also vor allem für die Regulierung seines Kalziumhaushaltes. 
			Ein ausreichend hoher Kalziumspiegel im Blut ist für den Knochenaufbau von entscheidender Bedeutung. 
			<br/><br/>
			Aber auch für die Funktionen der Muskeln, der Nerven und des Immunsystems spielt das Vitamin eine wichtige Rolle. 
		</p>
		
		<h3>Vitamin D und Kinder</h3>
		<p>	
			Wegen seiner Bedeutung für den Knochenaufbau ist eine hinreichende Vitamin D Zufuhr besonders im Kindesalter von immenser Wichtigkeit. 
			Eine Unterversorgung kann zur Knochenkrankheit Rachitis führen, die mit einer gestörten Mineralisation der Knochensubstanz einhergeht. 
			<br/><br/>
			Wachstumsstörungen sind die langfristige Folge. Die Entsprechung im Erwachsenenalter heißt Osteomalazie, die sogenannte Knochenerweichung. 
			Diese Krankheit bringt in erster Linie Schmerzen, aber auch ein erhöhtes Knochenbruchrisiko mit sich. 
			<br/><br/>
			Ein Vitamin D Mangel bei Kindern droht bereits im Säuglingsalter, denn die Muttermilch ist nicht sehr reich an Vitamin D. 
			Der Gehalt hängt wesentlich von der Ernährung der Mutter ab, ist in der Regel im Winter aber besonders niedrig. 
			<br/><br/>
			Eine im Jahr 2008 in den USA veröffentlichte Studie besagt, dass bis zu 78 Prozent der Mütter ihren Kindern im Winter 
			über die Muttermilch nicht genügend Vitamin D zur Verfügung stellen können. Um einen frühen Mangel zu vermeiden, 
			sollten stillende Mütter also unbedingt ihre Blutwerte überprüfen lassen. 
		</p>
		
		<h3>Woher bekommen wir das Vitamin D?</h3>
		<p>
			Zwar kann der menschliche Körper das Vitamin D mit Hilfe des Sonnenlichts in der Haut synthetisieren, 
			es kommt aber selbstverständlich auch in der Nahrung vor. 
			<br/><br/>
			Besonders im Winter darf diese zusätzliche Quelle keinesfalls 
			vernachlässigt werden. Das Vitamin D kommt hauptsächlich in tierischen Produkten vor. 
			<br/><br/>
			Lediglich das Provitamin D12 kann durch rein 
			pflanzliche Nahrung aufgenommen werden. Vegetarier und Veganer müssen daher vor allem im Winter an eine Substitution denken, 
			weil dem Körper mit diesen Ernährungsweisen bis zu 50 Prozent weniger Vitamin D zugeführt wird.
			<br/><br/>
			Mischköstler hingegen können 5 bis 20 Prozent 
			ihres Bedarfs über ihre Ernährung decken. Im Sommer bildet der Körper den Restbedarf in der Haut. Dafür muss der Mensch sich jedoch ausreichend 
			im Freien aufhalten, was bei der heutigen Lebensweise oft zu kurz kommt. 
			<br/><br/>
			Im Winter ist eine Deckung des gesamten Bedarfs durch das Sonnenlicht 
			nicht mehr möglich, weil der UVB-Anteil zu niedrig ist. Deshalb muss vor allem der moderne Zeitgenosse in den Sommermonaten darauf achten, 
			sich die Vitamin D Reserven anzulegen, die sein Körper im Winterhalbjahr so dringend braucht.
			<br/><br/>
			In Innenräumen absorbiert das Fensterglas 
			den zur Vitamin D Synthese unverzichtbaren UVB-Anteil des Sonnenlichts und auch ein Besuch im Solarium ist nur wenig hilfreich. 
			Eine zuverlässige Deckung des menschlichen Vitamin D Bedarfs erfordert also die direkte Sonnenexposition im Freien. 
			<br/><br/>
			Werden nur das Gesicht 
			und die Unterarme der Sonne ausgesetzt, muss der Mensch dafür täglich eine Viertelstunde draußen verbringen. Bei Ganzkörperbestrahlung 
			reicht bereits eine Minute aus, um den Tagesbedarf zu decken. Diese Werte sind vom Sonnenstand, der Hautbeschaffenheit und anderen Faktoren abhängig. 
			Dabei darf man natürlich das Hautkrebsrisiko keinesfalls außer Acht lassen. 
		</p>
		
		<h3>Die Bedeutung von Ernährung und Sonnenlicht</h3>
		<p>
			Vitamin D ist vor allem in fetten Fischarten reichlich enthalten. Aber auch Milchprodukte, Eier und Innereien stellen dem Körper relevante Mengen zur Verfügung. 
			Hier die wichtigsten Lieferanten:
		</p>
		
		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>Nahrungsmittel</th>
					<th>Vitamin D Gehalt pro 100g</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Lebertran</td>
					<td>330,00 µg</td>
				</tr>
				<tr>
					<td>Räucheraal</td>
					<td>90,00 µg</td>
				</tr>
				<tr>
					<td>Bückling</td>
					<td>28,75 µg</td>
				</tr>
				<tr>
					<td>Forelle</td>
					<td>22,00 µg</td>
				</tr>
				<tr>
					<td>Lachs</td>
					<td>16,30 µg</td>
				</tr>
				<tr>
					<td>Schmelzkäse 45%</td>
					<td>3,13 µg</td>
				</tr>
				<tr>
					<td>Hühnerei</td>
					<td>2,93 µg</td>
				</tr>
				<tr>
					<td>Hühnerleber</td>
					<td>1,30 µg</td>
				</tr>
				<tr>
					<td>Gouda 40%</td>
					<td>1,25 µg</td>
				</tr>
				<tr>
					<td>Butter</td>
					<td>1,24 µg</td>
				</tr>
				<tr>
					<td>Vollmilch</td>
					<td>1,24 µg</td>
				</tr>
				<tr>
					<td>Emmentaler 45%</td>
					<td>1,10 µg</td>
				</tr>
			</tbody>	
		</table>

		<p>
			In unseren zeitgenössischen zivilisierten Gesellschaften sind die Menschen häufig nicht mehr genügend dem Sonnenlicht ausgesetzt, 
			um ihren Bedarf an Vitamin D decken zu können. Hinzu kommt die Verwendung von Sonnenschutzprodukten, welche die Synthese des Vitamins hemmt.
			Aufgrund eines heutzutage gesteigerten Hautkrebsrisikos kann darauf allerdings nicht verzichtet werden. So kommt es in höheren Breiten immer öfter zu
			Zivilisationskrankheiten, die durch Vitamin D Mangel ausgelöst werden. 
			<br/>
			Die Empfehlungen bezüglich der Tagesdosis schwanken innerhalb Europas stark. Die Deutsche Gesellschaft für Ernährung empfiehlt folgende Richtwerte:
		</p>
		
		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>Personengruppe</th>
					<th>Tagesbedarf</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0-12 Monate</td>
					<td>10 µg</td>
				</tr>
				<tr>
					<td>1-14 Jahre</td>
					<td>20 µg</td>
				</tr>
				<tr>
					<td>16-64 Jahre</td>
					<td>20 µg</td>
				</tr>
				<tr>
					<td>Ab 65 Jahre</td>
					<td>20 µg</td>
				</tr>
				<tr>
					<td>Schwangere</td>
					<td>20 µg</td>
				</tr>
				<tr>
					<td>Stillende</td>
					<td>20 µg</td>
				</tr>
			</tbody>	
		</table>
		
		
		<p>
			In anderen europäischen Ländern sind die empfohlenen Werte bei Kindern teilweise doppelt bis dreifach so hoch. In den USA wiederum wird der Tagesbedarf an Vitamin D für alle 
			Personengruppen niedriger eingeschätzt als in Deutschland. 
		</p>
		
		<h3>Symptome bei Mangel</h3>
		<p>
			Aufgrund umfassender Kontrollmechanismen kommt es hierzulande nur noch selten zu schweren Mangelerscheinungen. Besonders Menschen mit erhöhten Risiko sollten aber 
			stets gut überwacht werden. Dazu gehören vor allem Senioren, Personen mit dunkler Hautfarbe und Menschen, die sich nur wenig im Freien aufhalten. Schwangere, Stillende und 
			Säuglinge müssen genauso flächendeckend kontrolliert werden. Denn bei Vitamin D Mangel drohen schwere Zivilisationskrankheiten wie Morbus Crohn, Autoimmunerkrankungen und 
			Krankheiten von Leber und Niere. 
		</p>
		
		
			Die Symptome eines Mangels können vielfältig sein:
			
			<ul>
				<li>Müdigkeit</li>
				<li>Verlangsamtes Denken</li>
				<li>Depression</li>
				<li>Muskelschwäche oder -krämpfe</li>
				<li>Gelenkschmerzen</li>
				<li>Schlafstörungen</li>
				<li>Hautprobleme</li>
				<li>Geschwächtes Immunsystem mit erhöhter Anfälligkeit</li>
				<li>Knochenverformungen</li>
				<li>Rippenschwellung</li>
				<li>Motorische Verzögerungen</li>
				<li>Epileptische Anfälle</li>
				<li>Herzrhythmusstörungen</li>
				<li>Zahnfleischwucherungen</li>
				<li>Neigung zu Knochenbrüchen</li>
				<li>Kurzsichtigkeit</li>
				<li>Erhöhte Reizbarkeit</li>
			</ul>

			<strong>Bei Kindern kommen folgende Symptome hinzu:</strong><br/>
			<ul>
				<li>Verzögerter Durchbruch der Milchzähne</li>
				<li>Kieferdeformierungen </li>
				<li>Fehlstellungen der Zähne</li>
			</ul>
			
			<h3>Was ist aktives Vitamin D?</h3>
			<p>
				Im Zusammenhang mit Vitamin D stößt man häufig auf den Begriff ‚Aktives Vitamin D‘ oder auch ‚Aktives Vitamin D3‘. 
				So wird das biologisch aktive Calcitriol manchmal bezeichnet. Das bereits beschriebene Calciferol wird vom Blut zunächst in die Leber transportiert und dort 
				in Calcidiol umgewandelt. Dieser Stoff wird wiederum in die Nieren weitertransportiert und von dort aus schließlich als Calcitriol wieder ins Blut abgegeben. 
				Erst in dieser Form kann das Vitamin D seine segensreichen Wirkungen auf den menschlichen Körper entfalten, also aktiv werden. Neueste Studien haben gezeigt,
				dass diese Umwandlung auch in anderen Geweben stattfinden kann. Das aktive Vitamin D verhindert Prozesse, die schwere Krankheiten wie chronische Infektionen, 
				Diabetes mellitus, Bluthochdruck, Herz- und Kreislauferkrankungen, Autoimmunerkrankungen und sogar Krebs begünstigen.
			</p>

